
videos/
*.webm
*.mp4
*.mp3

# --- Python Environments ---
.venv/
venv/
env/
bin/
obj/

# --- Python Bytecode & Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# --- Flask & Environment Variables ---
.env
instance/
.flaskenv

# --- Vector Database & RAG Data ---

vector_db/
*.index
*.pkl

# --- OS Specific ---
.DS_Store
Thumbs.db